.top-ten-list {
    padding: 10px;
}

.top-ten-list .header-row {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,cccccc+100;Gren+3D */
    background: #eeeeee; /* Old browsers */
    font-size: 80%;
}

.top-ten-list .entry-row {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f0f0f0+97,fafafa+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 97%, #fafafa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 97%,#fafafa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 97%,#fafafa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
}

.top-ten-list td, .top-ten-list th {
    padding: 4px;
}

.top-ten-list td:nth-child(1), .top-ten-list th:nth-child(1) {
    width: 20px;
}

.top-ten-list td:nth-child(2), .top-ten-list th:nth-child(2) {
    width: 50px;
}

.top-ten-list .genomeColor {
    position:relative;
    width:16px;
    height:16px;
}

.param-label {
    width: 140px;
    padding-top: 5px;
    text-align: right;
    font-size: 80%;
}

.param-row {
    margin-bottom: 0!important;
}

.param-label {
    max-width:150px;
}

.user-genome {
    width: 150px;
}



.pulse {
  z-index: 10;
  position: absolute;
}

.dot {
  border: 10px solid #fff601;
  background: transparent;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  border-radius: 60px;
  height: 50px;
  width: 50px;
  -webkit-animation: pulse 5s ease-out;
  -moz-animation: pulse 5s ease-out;
  animation: pulse 5s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
/*  top: -25px;
  left: -25px; */
  top: -5px;
  left: -5px;
  z-index: 1;
  opacity: 0;
}

@-moz-keyframes pulse {
 0% {
    -moz-transform: scale(0);
    opacity: 0.0;
 }
 15% {
    -moz-transform: scale(0);
    opacity: 0.1;
 }
 30% {
    -moz-transform: scale(0.3);
    opacity: 0.3;
 }
 50% {
    -moz-transform: scale(1.2);
    opacity: 0.5;
 }
 60% {
    -moz-transform: scale(2);
    opacity: 0.0;
 }
 100% {
    opacity: 0.0;
 }
}

@-webkit-keyframes "pulse" {
 0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
 }
 15% {
    -webkit-transform: scale(0);
    opacity: 0.1;
 }
 30% {
    -webkit-transform: scale(0.3);
    opacity: 0.3;
 }
 50% {
    -webkit-transform: scale(1.2);
    opacity: 0.5;
 }
 60% {
    -webkit-transform: scale(2);
    opacity: 0.0;
 }
 100% {
    opacity: 0.0;
 }
}

.help {
    right: 4px;
}